.top-header, .bottom-header{

}
.top-daily {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 100%;
  height:100px;
  float: left;
}
.top-weekly{
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 100%;
  height:1000px;
  float: left;
}
body{
}
h2{
  margin-top:0px;
  margin-left:10px;
}
form{
  margin:2px;
  padding:2px;
}
.form_data{
  margin: 6px;
  padding: 4px;
}
form{
  margin: 3px;
  padding: 4px;
  font-size: 20px;
}
.answer{
  margin:1%;
  padding: 2%;
  float: bottom;
}
.checkbox{
  background-color: #ba9bff;
}
.checkbox{
    background-color: #c6f8ff;
}
.SubmitValue{
    text-align: center;

}
.top_file{
  text-align: center;
}

.bg_color_grey{
  background-color: lightgrey;
}
.bg_color_white{
  background-color: #e1e1e1;
}
.checkagain_button{
  margin-left: 13px;
  font-size: 15px;
}